@use '../variables' as *;
@use '../mixins' as *;

button {
  touch-action: manipulation;
}

.section-title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.todo-item {
  margin-bottom: 6px;
  touch-action: none; // pointerイベントでfrag処理を行うときに設定しました。
  user-select: none;
  cursor: grab;
  & * {
    user-select: none;
  }
}

.item-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item-text {
  color: red;
}


